html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  letter-spacing: 0em;
  width: 100%;
}
.mast{
    position: relative;
    width: 100%;
}
.masthead{
    justify-content: center;
    align-content: center;
    display:flex;
    width: 100%;
    flex-grow: 0;
}
.vid{
    border: 10px solid black;
    max-width: 1080px;
    width: 100%;
    position: relative;
    justify-content: center;

}
.videolayer{
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
    margin-right:25%;
    margin-left:35%;
    height: auto%;
    padding: 5% 0;


}
.pic{

    position: relative;
    margin: 0px;
    display: flex;
    width:75%;
    max-width: 250px;
    height: auto;
    position: relative;
    border-radius: 15px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}
.name{
    margin-top: 0px;
    margin-bottom: 0px; 
    position: relative;
    display: block;
    color: white; 
    flex: 1;
    text-align: left;
    filter: drop-shadow(0 5px 3px rgb(0, 0, 0));
}
.nameSub{
    margin-top: 0px;
    position: relative;
    display: block;
    color: white;
    flex: 1;
    text-align: left;
    filter: drop-shadow(0 5px 3px rgb(0, 0, 0));
}
.AboutMe{
    position: absolute;
    padding-top: 5px;
    display: block;    
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    
}
.About{
    display: block; 
    padding: 0px; 
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: center;
}
.a1{
    margin-left: 20%;
    margin-right: 20%;
    
    text-align: left; 
    justify-content: center;
}
.a2{
    font-size: 18px; 
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}
.a3{
    margin-left: 20%;
    margin-right: 20%;;
    justify-content: center;
}

.walk{
    margin-top: 50px;
    position: relative;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.links{
    column-count: 3;
    column-gap: 20px;
    display:flex;
    justify-content:center;
    margin-bottom: 100px;
}
@media(max-width: 960px) {
    .videolayer{ margin-top:2%;}
    .nameSub{ font-size:14px;
    }
    .a2{font-size: 14px;
    margin-right:5%;
    margin-left:5%;}
    .a1{margin-right:5%;
    margin-left:5%;}
    .a3{margin-right:5%;
    margin-left:5%;}

    .walk{display: flex;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
    }
    .where{position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    }
    .links{column-gap: 15px;
    column-count: 2;}
}

