html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  letter-spacing: 0em;
}
.mast{
    position: relative;
}
.masthead{
    justify-content: center;
    display:flex;
    flex-grow: 0;
}
.vid{
    width: 100%;
    min-width: 1080px;
    position: relative;
    justify-content: center;

}
.pic{
    margin-bottom: 10px;
    display: flex;
    width: 250px;
    margin-top: 200px;
    height: auto;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.4));
}
.name{
    display: flex;
    color: white;
    margin-top: 480px;
    margin-right: 100px;
    position: absolute;
    line-height: 100px;
    flex: 1;
    text-align: left;
    filter: drop-shadow(0 5px 3px rgb(0, 0, 0));
}
.nameSub{
    display: block;
    color: white;
    margin-top: 515px;
    margin-left: 63px; 
    position: absolute;
    line-height: 100px;
    flex: 1;
    text-align: left;
    filter: drop-shadow(0 5px 3px rgb(0, 0, 0));
}
.AboutMe{
    position: relatiive;
    margin-top: 50px;
    display: block;    
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    
}
.About{
    display: block; 
    padding: 0px; 
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: center;
}
.a1{
    margin-left: 20%;
    margin-right: 20%;
    
    text-align: left; 
    justify-content: center;
}
.a2{
    font-size: 14px; 
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}
.a3{
    margin-left: 20%;
    margin-right: 20%;;
    justify-content: center;
}

.walk{
    margin-top: 50px;
    position: relative;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.links{
    column-count: 3;
    column-gap: 20px;
    display:flex;
    justify-content:center;
    margin-bottom: 100px;
}
@media(max-width: 960px) {
    .pic{margin-top: 100px;
    }
    .name{margin-top:380px;
    }
    .nameSub{margin-top:415px;
    font-size: 14px;
    margin-left: 0;
    }
    .a2{font-size: 10px:
    }
    .walk{display: flex;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
    }
    .where{position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    }
}

